<!-- <h1>item <%=newProduct._id%></h1>
<h1>item <%=newProduct.name%></h1>
<h1>item <%=newProduct.descirption%></h1>
<h1>item <%=newProduct.price%>$</h1> -->
<div class="product-container">
  <div class="image-container">
    image
  </div>
  <div class="details-container">
    <ul>
      <li><h1><%=newProduct.name%></h1></li>
      <li><p><%=newProduct.description%></p></li>
      <li><h3><%=newProduct.price%>$</h3></li>
    </ul>
  </div>
</div>
